body {
    background-image: url('fond-page1.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Great Vibes', cursive;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: rgba(255, 0, 85, 0.7);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 0, 85, 0.5);
    animation: fadeIn 2s ease-in-out;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    animation: heartbeat 1.5s infinite;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-size: 1.2rem;
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    background-color: #ff0055;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e6004c;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes heartbeat {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.1); }
}
/* Styles pour le pied de page */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 0, 85, 0.7);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-family: 'Great Vibes', cursive;
    font-size: 1.2rem;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    animation: fadeIn 2s ease-in-out;
}

footer strong {
    color: #ffeb3b; /* Couleur jaune pour mettre en valeur votre pseudo */
}
